body{
    margin: 0;
}
#header{
    background-color: dimgray;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    display: flex;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
}

#notification {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    animation: pulse 1s infinite alternate; /* Анімація */
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
main{
    padding-top: 30px;
    padding-left: 20px;
}
#references a{
    text-decoration: none;
    color: black;
}
#references a:hover {
    color: darkgrey;
    font-weight: bold;
}
#references a:focus {
    color: black;
    font-weight: bold;
}
button {
    background-color: white;
    border: 1px solid black;
    transition: background-color 0.3s;
}
button:hover {
    background-color: lightgray;
}
button:active {
    transform: scale(0.95);
}
table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: white;
}



figure {
    display: block;
    text-align: center;
}

figcaption {
    font-size: 10px;
    font-style: italic;
}

.container {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    width: 170px;
    border-radius: 10px;
}

.wrapper {
    display: flex;
    align-items: center;
}

#user_picture1,
#user_picture2,
#user_picture3 {
    margin-right: 10px;
}

label[for^="user_picture"] {
    background-color: lightgray;
    margin-left: 10px;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 20px;
    line-height: 30px;
    font-size: 12px;
}
.container a {
    text-decoration: none;
    color: black;
    padding: 5px;
    display: inline-block;
    margin-bottom: 5px;
}

.a_ref{
    border-radius: 10px;
}
.a_ref:hover {
    background-color: lightgray;
}
